@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Diastema;
    src: url("./fonts/Diastema.ttf");
  }
  @font-face {
    font-family: Pinyon;
    src: url("./fonts/PinyonScript.ttf");
  }
  @font-face {
    font-family: GillSans;
    src: url("./fonts/GillSans.otf");
  }
}

